# 2017_09_20_Study

## 02장 파이썬 프로그래밍의 기초, 자료형

### 02-1 숫자형

In [1]:
a = 123 # 정수형
b = 123.123 # 실수형
c = 0o123 # 8진수
d = 0x123 # 16진수

# 8진수와 16진수는 잘 사용되지 않음

#### 연산자

In [1]:
a = 3
b = 4

In [2]:
a + b

7

In [3]:
a - b

-1

In [4]:
a * b

12

In [5]:
a / b

0.75

In [6]:
a ** b # a의 b제곱(a^b)

81

In [7]:
a % b # 나머지 값 반환

3

In [8]:
a // b # 소수점 아랫자리 버림 -> 나눗셈의 결과값보다 작은 정수 중, 가장 큰 정수를 리턴

0

### 02-2 문자열 자료형

In [10]:
# 문자열을 만드는 4가지 방법
"Hello World"
'Hello world'
"""Hello world"""
'''Hello world'''

#### 문자열 연산

In [12]:
head = "Python"
tail = " is fun!"

In [13]:
head + tail

'Python is fun!'

In [14]:
head * 2

'PythonPython'

#### 문자열 인덱싱과 슬라이싱

In [15]:
a = "Life is too short, You need Python."

In [16]:
a[3] # 파이썬은 숫자를 '0'부터 셈

# 변수[번호]: 문자열 내 특정 값을 뽑아내는 역할 -> 인덱싱

'e'

In [17]:
a[-1] # '-'를 붙이면 뒤에서 부터 셈

# a[0]과 ㅁ[-0]은 같은 결과는 반환

'.'

In [19]:
a[0:4] # 인덱싱보다 단어를 추출해내기 용이함 -> 슬라이싱

'Life'

In [20]:
a[:17]

'Life is too short'

In [21]:
a[19:]

'You need Python.'

In [22]:
a[:]

'Life is too short, You need Python.'

In [23]:
a[19:-7]

'You need '

In [28]:
# 슬라이싱으로 문자열 나누기

ex = "20010331Rainy"

In [30]:
date = ex[:8]
weather = a[8:]

In [31]:
date

'20010331'

In [32]:
weather

'Rainy'

In [34]:
# 틀린 단어 수정하기

ex2 = "Pithon"

In [37]:
ex2[0] + "y" + ex2[2:]

'Python'

#### 문자열 포매팅

In [20]:
 #숫자 바로 대입
"I eat %d apples." %3

'I eat 3 apples.'

In [39]:
# 문자 바로 대입
"I eat %s apples." %"five"

# 숫자, 문자 모두 변수를 대입하는 것이 가능함

'I eat five apples.'

In [2]:
"Error is %d%%." %98

'Error is 98%.'

In [6]:
# 포맷 코드와 숫자 함께 사용하기

"%10s" % "Hi" # '%10s'의 의미는 전체 길이가 10개인 문자열 공간에서 hi를 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미

'        Hi'

In [7]:
"%-10sJane" % "Hi"

'Hi        Jane'

In [8]:
"%0.4f" % 3.42134234

'3.4213'

In [9]:
"%10.4f" % 3.42134234

'    3.4213'

#### 문자열 관련 함수

In [1]:
ex3 = "Python is best choice."

In [3]:
ex3.count('i')

2

In [5]:
ex3.find('s')

# 존재하지 않는 문자열이라면 -1을 반환

8

In [6]:
ex3.index('t') # 문자열 중 가장 먼저 't'가 나온 위치를 반환

# 존재하지 않는 문자열이라면 오류

2

In [9]:
ex4 = ","

In [10]:
ex4.join("abcd")

'a,b,c,d'

In [11]:
ex3.upper()

'PYTHON IS BEST CHOICE.'

In [12]:
ex3.lower()

'python is best choice.'

In [13]:
ex5 = " Hi"
ex6 = "Hi "
ex7 = " Hi "

In [14]:
ex5.lstrip()

'Hi'

In [16]:
ex6.rstrip()

'Hi'

In [17]:
ex7.strip()

'Hi'

In [18]:
ex3.replace("Python", "R")

'R is best choice.'

In [19]:
ex3.split()

['Python', 'is', 'best', 'choice.']

In [21]:
# 'format' 함수를 이용하면 더 발전된 스타일로 문자열 포맷 지정 가능

### 02-3 리스트 자료형

In [23]:
list = [1, 3, 5, 7, 9] # -> 리스트

# 아무것도 포함하지 않는 리스트도 있음
# 리스트 안에 리스트를 포함할 수 있음 -> [1, 2, ["Python", "Life"]]

#### 리스트의 인덱싱과 슬라이싱

In [24]:
list2 = [1, 2, 3]

In [25]:
list2[0]

1

In [26]:
list2[0] + list2[2]

4

In [27]:
list2[-1]

3

In [29]:
list3 = [1, 2, 3, ["a", "b", "c"]]

In [30]:
list3[-1]

['a', 'b', 'c']

In [31]:
list3[-1][1]

'b'

In [32]:
list3[0:2]

[1, 2]

In [35]:
list3[3][:2]

['a', 'b']

#### 리스트 연산자

In [30]:
li1 = [1, 2, 3]
li2 = [4, 5, 6]

In [2]:
li1 + li2

[1, 2, 3, 4, 5, 6]

In [3]:
li1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트의 수정, 변경, 삭제

In [5]:
li1[2] = 4

li1

[1, 2, 4]

In [31]:
li2[1:2] = ["a", "b"]

li2

[4, 'a', 'b', 6]

In [32]:
li2[1] = ["a", "b"]

li2

# 'li2[1:2]'와 'li2[1:2]'는 완전히 다름

[4, ['a', 'b'], 'b', 6]

In [33]:
li2[1:2] = []

li2

[4, 'b', 6]

In [34]:
del li2[1]

li2

[4, 6]

#### 리스트 관련 함수

In [38]:
li3 = [1, 2, 3, 4]

In [39]:
li3.append(5)

li3

# 어떤 자료형도 추가 할 수 있음

[1, 2, 3, 4, 5]

In [68]:
li4 = [5, 3, 6, 2, 7, 8, 9, 0]

In [69]:
li4.sort()

li4

[0, 2, 3, 5, 6, 7, 8, 9]

In [70]:
li4.reverse()

li4

[9, 8, 7, 6, 5, 3, 2, 0]

In [71]:
li4.index(5)

# 존재하지 않는 값 -> 오류

4

In [72]:
li4.insert(5, 4)

li4

[9, 8, 7, 6, 5, 4, 3, 2, 0]

In [64]:
li4.remove(4)

li4

[9, 8, 7, 6, 5, 3, 2, 0]

In [74]:
li4.pop()

2

In [75]:
li4

# 'pop'은 list의 맨 마지막 요소를 반환하고 그 요소를 삭제

[9, 8, 7, 6, 5, 4, 3]

In [76]:
li4.pop(1)

8

In [77]:
li4

[9, 7, 6, 5, 4, 3]

In [79]:
li5 = [1, 2, 5, 7, 5, 7, 8, 5, 4]

In [80]:
li5.count(5)

3

In [81]:
li5.extend([6, 9, 4])

li5

# 'extend'의 괄호 안에는 list만 올 수 있음(변수 형태로의 대입도 가능)

[1, 2, 5, 7, 5, 7, 8, 5, 4, 6, 9, 4]

### 02-4 튜플 자료형

In [1]:
t1 = ("a", "b", 1, 2)

# 튜플의 요소값은 한 번 정하면 지우거나 변경할 수 없음

In [2]:
del t1[1]

TypeError: 'tuple' object doesn't support item deletion

In [3]:
t1[1] = "3"

TypeError: 'tuple' object does not support item assignment

#### 인덱싱과 슬라이싱 / 더하기와 곱하기

In [6]:
t1[0] # -> 문자열, 리스트와 동일함

'a'

In [8]:
t1[1:]

('b', 1, 2)

In [9]:
t2 = (3, 4)

In [10]:
t1 + t2

('a', 'b', 1, 2, 3, 4)

In [11]:
t2 * 4

(3, 4, 3, 4, 3, 4, 3, 4)

### 02-5 딕셔너리 자료형

In [29]:
d1 = {"name" : "Pey", "phone" : "01012345678", "birth" : "1118"}

# {key1 : value1, key2 : value2 ...}의 형태
# value 값에 리스트를 넣을 수 도 있음

In [1]:
d2 = {1 : "a"}

In [5]:
d2[2] = "b"
d2[3] = [1, 2, 3]

In [6]:
d2

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [7]:
del d2[2]

In [8]:
d2

{1: 'a', 3: [1, 2, 3]}

#### 딕셔너리 사용 방법

In [9]:
grade = {"pey": 10, "jane": 99}

In [10]:
grade["pey"]

10

In [12]:
# 중복되는 key 사용 X
# key에 리스트 사용 X but 튜플은 사용 O

d3 = {(1, 2): "pey"}

In [14]:
d3[(1, 2)]

'pey'

#### 딕셔너리 관련 함수

In [17]:
d1

{'birth': '1118', 'name': 'Pey', 'phone': '01012345678'}

In [19]:
d1.keys() # -> d1의 key만을 모아 dict_keys라는 객체를 리턴

dict_keys(['birth', 'name', 'phone'])

In [21]:
# dict_keys 객체를 리스트로 변환

list(d1.keys())

['birth', 'name', 'phone']

In [23]:
for k in d1.keys():
    print(k)

birth
name
phone

In [24]:
d1.values() # -> d1.keys()와 활용 방법 동일

dict_values(['1118', 'Pey', '01012345678'])

In [25]:
d1.items() # -> key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 리턴

dict_items([('birth', '1118'), ('name', 'Pey'), ('phone', '01012345678')])

In [27]:
d1.clear()

In [28]:
d1

{}

In [30]:
d1.get("name")

'Pey'

In [31]:
d1.get(1) # -> None을 리턴

In [33]:
d1[1] # -> 오류

KeyError: 1

In [34]:
# 딕셔너리 안에 찾으려는 key 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때

d1.get(1, "None")

'None'

In [35]:
"name" in d1

True

In [36]:
"email" in d1

False

### 02 - 6 집합 자료형

In [58]:
s1 = set([1, 2, 3])

In [38]:
s1

{1, 2, 3}

In [39]:
s2 = set("Hello!") # -> 중복 허용 X / 순서 없음

In [40]:
s2

{'!', 'H', 'e', 'l', 'o'}

#### 집합 자료형의 활용

In [44]:
s3 = set([1, 2, 3, 4, 5, 6])
s4 = set([4, 5, 6, 7, 8, 9])

In [45]:
s3 & s4 # -> 교집합(s3.intersection(s4) 도 같은 결과 리턴)

{4, 5, 6}

In [46]:
s3 | s4 # -> 합집합(s3.union(s4) 도 같은 결과 리턴)

# 중복값은 한 개씩만 표현

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
s3 - s4 # -> 차집합(s3.difference(s4) 도 같은 결과 리턴)

{1, 2, 3}

In [48]:
s4 - s3

{7, 8, 9}

#### 집합 자료형 관련 함수

In [59]:
s1

{1, 2, 3}

In [60]:
s1.add(7)

In [61]:
s1

{1, 2, 3, 7}

In [62]:
s1.update([4, 5, 6])

In [63]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [64]:
s1.remove(6)

In [65]:
s1

{1, 2, 3, 4, 5, 7}

### 02-7 자료형의 참과 거짓

In [67]:
# 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면(" ", [ ], ( ), { }) 거짓
# 숫자에서는 그 값이 0일 때 거짓

In [71]:
li = [1, 2, 3, 4, 5]

In [73]:
while li:
    li.pop()

In [74]:
li

[]

In [2]:
if [1, 2, 3]:
    print("True")
else:
    print("False")

True

### 02-8 자료형의 값을 저장하는 공간, 변수

In [4]:
# 변수명 = 변수에 저장할 값

In [5]:
type(3)

int

In [7]:
a = 3
b = 3

a is b

True

#### 변수를 만드는 여러가지 방법

In [8]:
a, b = ("python", "life")

In [9]:
(a, b) = "python", "life"

In [10]:
[a, b] = ["python", "life"]

In [11]:
a = b = "python"

In [12]:
c = 1
d = 5

In [13]:
c, d = d, c

In [14]:
c

5

In [15]:
d

1

In [19]:
del(c)
del(d)

In [20]:
c

NameError: name 'c' is not defined

In [21]:
d

NameError: name 'd' is not defined

#### 리스트를 변수에 넣고 복사

In [22]:
a = [1, 2, 3]
b = a[:] # -> a 리스트 값을 바꾸더라도 b 리스트에 영향 X

# b = copy(a)는 b = a[:]와 같음

In [23]:
a[1] = 4

In [24]:
a

[1, 4, 3]

In [25]:
b

[1, 2, 3]

In [26]:
b is a

False