# 2017_10_17_Study

## 04장 프로그램의 입력과 출력은 어떻게 해야할까?

### 04-1 함수

In [4]:
def sum(a, b):
    return (a + b)

In [5]:
a = 1
b = 3

sum(a, b)

4

In [7]:
def say():
    return ("Hi")

say()

'Hi'

In [9]:
def sum(a, b):
    print("%d, %d의 합은 %d 입니다."% (a, b, a+b))
    
sum(5, 6)

5, 6의 합은 11 입니다.

In [10]:
a = sum(5, 6)
print(a)

5, 6의 합은 11 입니다.
None

In [11]:
def say():
    print("Hi")
    
say()

Hi

In [27]:
def sum_many(*a):
    sum = 0
    for i in a:
        sum = sum + i
    return sum

sum_many(1, 2, 3)

6

In [30]:
def sum_mul(a, *b):
    if(a == "sum"):
        c = 0
        for i in b: 
            c = c + i
    elif(a == "mul"):
        c = 1
        for i in b:
            c = c * i
    return c

In [31]:
sum_mul("sum", 1, 2, 3, 4, 5)

15

In [32]:
sum_mul("mul", 1, 2, 3, 4, 5)

120

In [2]:
def sum_and_mul(a, b):
    return(a+b, a*b)

In [3]:
sum_and_mul(3, 4)

(7, 12)

In [4]:
def say_myself(name, old, man = True):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d살 입니다." % old)
    if(man):
        print("남자입니다.")
    else:
        print("여자입니다.")

In [5]:
say_myself("박응용", 27)

나의 이름은 박응용입니다.
나이는 27살 입니다.
남자입니다.

In [6]:
say_myself("박응선", 27, False)

나의 이름은 박응선입니다.
나이는 27살 입니다.
여자입니다.

In [12]:
a = 1
def vartest(a):
    a = a + 1
    return a
    
a = vartest(a)
print(a)

2

In [13]:
a = 1
def vartest(a):
    a = a + 1

vartest(a)
print(a)

1

### 04-2 사용자 입력과 출력

In [14]:
a = input()

Life is too short, You need Python.

In [15]:
a

'Life is too short, You need Python.'

In [16]:
number = input("숫자를 입력하세요.")

숫자를 입력하세요.1

In [17]:
number

'1'

In [19]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

### 04-3 파일 읽고 쓰기

In [21]:
f = open("새파일.txt", "w")
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [22]:
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.